* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

h1 {
	font-size: 100px;
	text-align: center;
	color: fuchsia;
}

.ct-series-a {
  color: blue;
  stroke-width: 2px;
}

.ct-series-b {
  stroke: red;
  stroke-width: 2px;
}

.ct-series-a .ct-bar {
  stroke-width: 5px;
}

.ct-series-b .ct-bar {
  stroke-width: 5px;
}

tr {
	td {
		width: 25%
	};
	th {
		width: 25%
	}
}

svg {
	margin: 0 auto
}

ul {
	margin: 0 auto;
}

li {
	display: inline-block;
	text-align: center;
}

.tabs {
	cursor: pointer
}


